        .thumbnail {
          width: 100%;  
        }
   
        .thumbnail-row {
           margin-bottom: 8px;
           position: relative;
        }

        .video-time {
            position: absolute;
            bottom: 10px;
            right: 5px;
            background-color: black;
            color: white;
            font-family: Roboto, Arial;
            font-size: 12px;
            font-weight: 500px;
            padding: 4px;
            border-radius: 2px;
            
        }

         .video-title {
           margin-bottom: 10px;
           font-size: 13px;
           font-weight: 600;
           line-height: 20px;
       }

         .video-creator,
         .video-stats { 
           display: block; 
         }

         .video-creator {
            font-size: 12px;
            color: rgb(96,96,96);
            margin-bottom: 5px;
         }

         .video-stats {
            font-size: 12px;
            color: rgb(96,96,96);
         }

         .video-info-grid {
           display: grid;
           grid-template-columns: 50px 1fr;
        }

         .video-grid {
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           column-gap: 15px;
           row-gap: 40px;
       }

         @media (max-width: 750px) {
             .video-grid {
               grid-template-columns: 1fr 1fr;
            }
         }

          @media (min-width: 751px) and (max-width: 999px) {
             .video-grid {
               grid-template-columns: 1fr 1fr 1fr;
              }
           }

          @media (min-width: 1000px) {
             .video-grid {
               grid-template-columns: 1fr 1fr 1fr 1fr;
            }
          }

         .profile-picture {
            width: 36px;
            border-radius: 18px;
       }